mixin page-list(data)
  .container
    .page-list
      h1.page-list__title Page List
      table.table.table-striped
        thead
          tr.table-header(style="background-color: #000")
            th #
            th Link
            th Catergories
            th Name Of Screen
        each ent, num in data
          tr.table-row(style= `background-color: ${ent.background}`)
            th= (num)
            td
              - if(ent.url == '')
                  a('#').page-list__link= ent.title
              - else
                  a(href=`${ent.url}.html`).page-list__link= ent.title
            td
              span.page-list__catergories= ent.catergories
            td
              - if(ent.url != '')
                  a(href=`${ent.url}.html`).page-list__link= `${ent.url}.html`
            
