h2 Buttons Type
.row
  each val in ['primary','secondary','olight','blight']
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: `#{val}`
            | })

h2 Buttons Disable
.row
  each val in ['primary','secondary','olight','blight']
    .col-3
      .code-example
        .demo
          +buttons-disable({
            text: 'テキストデモ',
            disabled: 'disabled',
            type: val,
          })
        pre
          code
            | +buttons-disable({
            |    text: 'テキストデモ',
            |   disabled: 'disabled',
            |   type: `#{val}`
            | })
h2 Button Size
.row
  each item in ['primary', 'secondary', 'olight', 'blight']
    .col-3
      each val in ['xsmall', 'small', 'medium', 'large']
        .code-example
          .demo
            +buttons({
              text:'テキストデモ',
              type: item,
              size: val,
            })
          pre
            code
              |+buttons({
              |  text:'テキストデモ',
              |  type: #{item},
              |  size: #{val},
              |})
  
h2 Button Icon
.row
  each val in ['primary','secondary','olight','blight']
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val,
            iconFont: 'ion-android-done-all'
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: `#{val}`,
            |   iconFont: 'ion-android-done-all'
            | })
  each val in ['primary','secondary','olight','blight']
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val,
            size: 'small',
            iconFont: 'ion-android-done-all'
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: `#{val}`,
            |   size: 'small',
            |   iconFont: 'ion-android-done-all'
            | })
  
h2 Button Full size
.row
  each val in ['primary','secondary','olight','blight']
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val,
            size: 'large',
            isFull: true
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: `#{val}`,
            |   size: 'large',
            |   isFull: true
            | })
